<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hand Gesture</title>

		<link
			href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static',filename='css/index.css') }}"
			rel="stylesheet"
		/>
	</head>
	<body background="{{ url_for('static',filename='images/wave-haikei.svg') }}">
		<h1>Hand Gesture Detection</h1>
		<div class="container">
			<div class="img">
				<img src="{{ url_for('video_feed') }}" />
			</div>
		</div>
	</body>
</html>
