* {
	box-sizing: border-box;
	overflow: hidden;
}
body {
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: auto auto;
}
h1 {
	font-family: "Gloria Hallelujah", cursive;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 73px;
	margin-top: -10px;
}
.container {
	text-align: center;
	margin: auto;
}
.img {
	border: 4px solid black;
	display: inline-block;
	margin-top: auto;
	width: 640px;
	height: 480px;
}

#img1 {
	margin-right: 250px;
}
#img2 {
	margin-left: 250px;
}
